<div id="portfolio-panel" class="content-panel">
  <div class="heading row">
    <div class="col-xs-12">
      <panel-heading selected='selectedContent'></panel-heading>
      <a ng-click='populateTables()'>populate</a>
    </div>
  </div>

  <table class="table table-striped portfolio-stats-table">
    <thead>
      <tr>
        <th>Cash</th>
        <th>Cash Basis</th>
        <th>Current Value</th>
        <th>Profit/Loss</th>
        <th>1d</th>
        <th>7d</th>
        <th>30d</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ng-repeat='(stat, value) in portfolioStats'>
          {{ value | currency }}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Cash Basis</th>
      <th>Current Price</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
      <th>1d</th>
      <th>7d</th>
      <th>30d</th>
    </tr>
    <tr ng-repeat='transaction in transactions.all | filter : transactionFilter | limitTo : 15'>
      <td>{{ transaction.symbol }}</td>
      <td>{{ transaction.quantity }}</td>
      <td>{{ transaction.price / transaction.quantity | currency }}</td>
      <td>{{ transaction.historicalInfo.price | currency }}</td>
      <td>{{ transaction.historicalInfo.price * transaction.quantity | currency }}</td>
      <td>{{ currentProfit(transaction) | currency }}</td>
      <td>{{ transaction.historicalInfo.dayAgo | currency }}</td>
      <td>{{ transaction.historicalInfo.weekAgo | currency }}</td>
      <td>{{ transaction.historicalInfo.monthAgo | currency }}</td>
    </tr>
  </table>

  <a ng-click='getStocks()'>get stocks</a>
  {{ yep }}
</div>