<!-- <a ng-click='getStocks()'>format the stock!</a> -->
<div id="left-panel" class='content-panel'>
  <h2 class='panel-heading'>Stocks</h2>
  <select id="" class="pull-right">
    <option value="1">option 1</option>
  </select>
  <label>Filter: 
    <input type="text" ng-model='tickerFilter'>
  </label>
  <table class="table table-striped stocks-panel">
    <tr>
      <th>Symbol</th>
      <th>Price</th>
      <th>1d</th>
      <th>7d</th>
      <th>30d</th>
      <th>Trade?</th>
    </tr>
    <tr ng-repeat='stock in stocks | filter : tickerFilter | limitTo : 15'>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.price | currency}}</td>
      <td>{{ stock.dayAgo | currency}}</td>
      <td>{{ stock.weekAgo | currency}}</td>
      <td>{{ stock.monthAgo | currency}}</td>
      <td><a ui-sref='index.trade({ symbol: stock.symbol })'>trade</a></td>
    </tr>
  </table>
</div>