<form ng-submit='placeOrder()' name='form'>
  <table>
    <tr>
      <th>Symbol:</th>
      <td>{{ stock.Symbol }}</td>
    </tr>
    <tr>
      <th>Buy/Sell</th>
      <td>
        <select ng-model='trade.type' name='type' required>
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td>
        <input type="number" ng-model='trade.quantity' name='quantity' required>
      </td>
    </tr>
    <tr>
      <th>Date</th>
      <td>
        <input type="date" ng-model='dateInfo.date' name='date'>
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>{{ stock.Close }}</td>
    </tr>
    <tr>
      <th>Cost</th>
      <td>{{ calculateCost() }}</td>
    </tr>
  </table>
  <input type="submit" class='btn btn-block btn-success' value='Place Order'>
</form>