* {
  box-sizing: border-box;
}

body {
  background-color: #dae9d7;
}

.content-panel {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #888888;
  .panel-heading {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
  }
}

/*MAIN LAYOUT*/

#main-nav {
  border-radius: 0;
  background-color: #3e6337;
  border: none;
  border-bottom: 1px solid #eee;
  .navbar-brand {
    font-size: 32px;
    color: #eee;
    letter-spacing: -.05em;
    font-weight: 800;
    text-transform: uppercase;
  }
}

// DATE PICKER
#datepicker-panel {
  margin-bottom: 44px;
  #date-picker {
    display: inline-block;
    padding: 0;
  }

  #date-wrapper {
    position: relative;
    height: 20px;
    #date-label {
      position: absolute;
      left: 0;
      white-space: pre;
    }
  }
}

// LEFT-PANEL
#left-panel {
  .stocks-panel {
    font-size: 10px;
  }
}

// TRADE
#trade-panel {
}